nav.nav(class="nav_" + lang)
	.nav-wrapper.wrapper
		a.nav-logo(href="index.html")
			img(src=baseDir + brandlinks.logo, alt="logo" title="logo" width="40" height="40")
		ul.nav-list(class="nav-list_" + lang)
			li.nav-list__item.nav-list__item_lang
				.nav-list__link.nav-list__link-lang.icon-arrow-menu(class= "nav-list__link-lang_" + lang) !{lang}
					.arrow-menu.
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M5 5.69007L1.60748 2.27732C1.2399 1.90756 0.643257 1.90756 0.275681 2.27732C-0.0918938 2.64709 -0.0918938 3.24729 0.275681 3.61706L4.37228 7.73808C4.71944 8.08731 5.28145 8.08731 5.62772 7.73808L9.72432 3.61706C10.0919 3.24729 10.0919 2.64709 9.72432 2.27732C9.35674 1.90756 8.7601 1.90756 8.39252 2.27732L5 5.69007Z" fill="white"/>
						</svg>
				ul.sub-nav-list.sub-nav-list_lang
					li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "en"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_en(href=baseDir + currentPage + ".html") English
					li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "ru"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_ru(href=baseDir + "ru/" + currentPage + ".html") Russian
					li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "es"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_es(href=baseDir + "es/" + currentPage + ".html") Español
					li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "de"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_de(href=baseDir + "de/" + currentPage + ".html") Deutsche
					li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "fr"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_fr(href=baseDir + "fr/" + currentPage + ".html") Français
					li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "it"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_it(href=baseDir + "it/" + currentPage + ".html") Italiano
					li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "zh"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_zh(href=baseDir + "zh/" + currentPage + ".html") 中国人
			li.nav-list__item(class={active :
				currentPage == "financial-instruments" ||
				currentPage == "currencies" ||
				currentPage == "metals" ||
				currentPage == "stocks" ||
				currentPage == "commodities" ||
				currentPage == "indices" ||
				currentPage == "cryptocurrencies"})
				a.nav-list__link.icon-arrow-menu(href="financial-instruments.html") !{navText.markets[lang]}
					.arrow-menu.
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M5 5.69007L1.60748 2.27732C1.2399 1.90756 0.643257 1.90756 0.275681 2.27732C-0.0918938 2.64709 -0.0918938 3.24729 0.275681 3.61706L4.37228 7.73808C4.71944 8.08731 5.28145 8.08731 5.62772 7.73808L9.72432 3.61706C10.0919 3.24729 10.0919 2.64709 9.72432 2.27732C9.35674 1.90756 8.7601 1.90756 8.39252 2.27732L5 5.69007Z" fill="white"/>
						</svg>
				ul.sub-nav-list
					li.sub-nav-list__item(class={active : currentPage == "currencies"}): a.sub-nav-list__link(href="currencies.html") !{navText.forex[lang]}
					li.sub-nav-list__item(class={active : currentPage == "metals"}): a.sub-nav-list__link(href="metals.html") !{navText.metals[lang]}
					li.sub-nav-list__item(class={active : currentPage == "stocks"}): a.sub-nav-list__link(href="stocks.html") !{navText.stocks[lang]}
					li.sub-nav-list__item(class={active : currentPage == "commodities"}): a.sub-nav-list__link(href="commodities.html") !{navText.commodities[lang]}
					li.sub-nav-list__item(class={active : currentPage == "indices"}): a.sub-nav-list__link(href="indices.html") !{navText.indices[lang]}
					li.sub-nav-list__item(class={active : currentPage == "cryptocurrencies"}): a.sub-nav-list__link(href="cryptocurrencies.html") !{navText.crypto[lang]}
			li.nav-list__item(class={active : currentPage == "trading-conditions"}): a.nav-list__link(href="trading-conditions.html") !{navText.trading[lang]}
			li.nav-list__item(class={active :
				currentPage == "about-company" ||
				currentPage == "licenses"})
				a.nav-list__link.icon-arrow-menu(href="about-company.html") !{navText.about[lang]}
					.arrow-menu.
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M5 5.69007L1.60748 2.27732C1.2399 1.90756 0.643257 1.90756 0.275681 2.27732C-0.0918938 2.64709 -0.0918938 3.24729 0.275681 3.61706L4.37228 7.73808C4.71944 8.08731 5.28145 8.08731 5.62772 7.73808L9.72432 3.61706C10.0919 3.24729 10.0919 2.64709 9.72432 2.27732C9.35674 1.90756 8.7601 1.90756 8.39252 2.27732L5 5.69007Z" fill="white"/>
						</svg>
				ul.sub-nav-list.sub-nav-list_license
					li.sub-nav-list__item(class={active : currentPage == "licenses"}): a.sub-nav-list__link(href="licenses.html") !{navText.licenses[lang]}
			li.nav-list__item(class={active : currentPage == "contacts"}): a.nav-list__link(href="contacts.html") !{navText.contacts[lang]}
			li.nav-list__item.nav-list__item_only-mobile
				a(href= linkLogin).btn.btn-not-background.btn-login.btn-nav_mobile !{buttonText.login[lang]}
				a(href= linkSignup).btn.btn-register.btn-nav_mobile !{buttonText.signup[lang]}
		.nav-btns
			a(href= linkLogin).btn.btn-small.btn-not-background.btn-login !{buttonText.login[lang]}
			a(href= linkSignup).btn.btn-white.btn-small.btn-register !{buttonText.signup[lang]}
