section.section.section-history.section-with-bg
	.wrapper.wrapper-history
		.history-decor
		h2.h2-title.color-blue.h2-title_history !{aboutHistoryText.h2[lang]}
		.history-list.js-history-list
			.history-list__item.history-list__item-top.history-list__item_1
				.history-wrapper-content
					.year.color-blue.h2-title 2018
					h3.color-blue.h3-title.history-list__title !{aboutHistoryText.year1.title[lang]}
					p.color-blue.history-list__text !{aboutHistoryText.year1.text[lang]}
				.history-wrapper-img
					.history-img
						.history-icon.history-icon_1
			.history-list__item.history-list__item-top.history-list__item_2
				.history-wrapper-content
					.year.color-blue.h2-title 2019
					h3.color-blue.h3-title.history-list__title !{aboutHistoryText.year2.title[lang]}
					p.color-blue.history-list__text !{aboutHistoryText.year2.text[lang]}
				.history-wrapper-img
					.history-img
						.history-icon.history-icon_2
			.history-list__item.history-list__item-bottom.history-list__item_3
				.history-wrapper-content
					.year.color-blue.h2-title 2020
					h3.color-blue.h3-title.history-list__title !{aboutHistoryText.year3.title[lang]}
					p.color-blue.history-list__text !{aboutHistoryText.year3.text[lang]}
				.history-wrapper-img
					.history-img
						.history-icon.history-icon_3
			.history-list__item.history-list__item-bottom.history-list__item_4
				.history-wrapper-content
					.year.color-blue.h2-title 2021
					h3.color-blue.h3-title.history-list__title !{aboutHistoryText.year4.title[lang]}
					p.color-blue.history-list__text !{aboutHistoryText.year4.text[lang]}
				.history-wrapper-img
					.history-img
						.history-icon.history-icon_4
		.history-pagination-wrapper
