section.section.section-platform.section-with-bg
	.wrapper.wrapper_platform
		h2.color-blue.h2-title.h2-title_platform !{aboutPlatformText.title[lang]}
		p.color-blue.prev-text-platform !{aboutPlatformText.text[lang]}
		.platform-list
			.platform-list-row
				.platform-list__item.color-blue(data-aos="fade" data-aos-delay="300") !{aboutPlatformText.advantage1[lang]}
				.platform-list__item.color-blue(data-aos="fade" data-aos-delay="500") !{aboutPlatformText.advantage2[lang]}
				.platform-list__item.color-blue(data-aos="fade" data-aos-delay="600") !{aboutPlatformText.advantage3[lang]}
				.platform-list__item.color-blue(data-aos="fade" data-aos-delay="800") !{aboutPlatformText.advantage4[lang]}
			.platform-list-row
				.platform-list__item.color-blue(data-aos="fade" data-aos-delay="400") !{aboutPlatformText.advantage5[lang]}
				.platform-list__item.color-blue(data-aos="fade" data-aos-delay="500") !{aboutPlatformText.advantage6[lang]}
				.platform-list__item.color-blue(data-aos="fade" data-aos-delay="700") !{aboutPlatformText.advantage7[lang]}
		a(href=linkSignup).btn.btn-platform !{buttonText.btnStartTrade[lang]}
