section.section.section-goals.section-with-bg
	.wrapper.wrapper_goals
		.goals-decor(data-aos="fade" data-aos-delay="300")
		h2.h2-title.h2-title_goals !{aboutGoalsText.h2[lang]}
		.goals-list
			.goals-list__item.goals-list__item_1(data-aos="fade" data-aos-delay="300")
				.goals-list-icon.goals-list-icon_1
				h3.goals-list__title.h3-title !{aboutGoalsText.goal1.title[lang]}
				p.goals-list__text.big-text !{aboutGoalsText.goal1.text[lang]}
			.goals-list__item.goals-list__item_2(data-aos="fade" data-aos-delay="450")
				.goals-list-icon.goals-list-icon_2
				h3.goals-list__title.h3-title !{aboutGoalsText.goal2.title[lang]}
				p.goals-list__text.big-text !{aboutGoalsText.goal2.text[lang]}
