section.section.section-markets
	.markets-list-wrapper-blue.section-with-bg
		.markets-list-decor.markets-list-decor_1(data-aos="zoom-in" data-aos-delay="300")
		.markets-list-decor.markets-list-decor_2(data-aos="zoom-in" data-aos-delay="300")
		.markets-list__item.markets-list__item-1(data-aos="")
			.wrapper.wrapper_markets-list
				.markets-img-wrapper
					.markets-bg
						.markets-icon.markets-icon_1
				.markets-content-wrapper
					h2.markets-list__title.h2-title !{marketsListText.market1.title[lang]}
					p.markets-list__text !{marketsListText.market1.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list !{buttonText.btnStartTrade[lang]}
						a(href="currencies.html").btn-show-more !{buttonText.btnLearMore[lang]}
		.markets-list__item.markets-list__item-2(data-aos="")
			.wrapper.wrapper_markets-list
				.markets-img-wrapper
					.markets-bg
						.markets-icon.markets-icon_2
				.markets-content-wrapper
					h2.markets-list__title.h2-title !{marketsListText.market2.title[lang]}
					p.markets-list__text !{marketsListText.market2.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list !{buttonText.btnStartTrade[lang]}
						a(href="metals.html").btn-show-more !{buttonText.btnLearMore[lang]}
		.markets-list__item.markets-list__item-3(data-aos="")
			.wrapper.wrapper_markets-list
				.markets-img-wrapper
					.markets-bg
						.markets-icon.markets-icon_3
				.markets-content-wrapper
					h2.markets-list__title.h2-title !{marketsListText.market3.title[lang]}
					p.markets-list__text !{marketsListText.market3.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list !{buttonText.btnStartTrade[lang]}
						a(href="stocks.html").btn-show-more !{buttonText.btnLearMore[lang]}
	.markets-list-wrapper-white.section-with-bg
		.markets-list-decor.markets-list-decor_3(data-aos="zoom-in" data-aos-delay="300")
		.markets-list-decor.markets-list-decor_4(data-aos="zoom-in" data-aos-delay="300")
		.markets-list__item.markets-list__item-4(data-aos="")
			.wrapper.wrapper_markets-list
				.markets-img-wrapper
					.markets-bg.markets-bg_blue
						.markets-icon.markets-icon_4
				.markets-content-wrapper
					h2.markets-list__title.h2-title !{marketsListText.market4.title[lang]}
					p.markets-list__text !{marketsListText.market4.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list !{buttonText.btnStartTrade[lang]}
						a(href="commodities.html").btn-show-more !{buttonText.btnLearMore[lang]}
		.markets-list__item.markets-list__item-5(data-aos="")
			.wrapper.wrapper_markets-list
				.markets-img-wrapper
					.markets-bg.markets-bg_blue
						.markets-icon.markets-icon_5
				.markets-content-wrapper
					h2.markets-list__title.h2-title !{marketsListText.market5.title[lang]}
					p.markets-list__text !{marketsListText.market5.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list !{buttonText.btnStartTrade[lang]}
						a(href="indices.html").btn-show-more !{buttonText.btnLearMore[lang]}
		.markets-list__item.markets-list__item-6(data-aos="")
			.wrapper.wrapper_markets-list
				.markets-img-wrapper
					.markets-bg.markets-bg_blue
						.markets-icon.markets-icon_6
				.markets-content-wrapper
					h2.markets-list__title.h2-title !{marketsListText.market6.title[lang]}
					p.markets-list__text !{marketsListText.market6.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list !{buttonText.btnStartTrade[lang]}
						a(href="cryptocurrencies.html").btn-show-more !{buttonText.btnLearMore[lang]}
