include ../nav.pug
header.page-header.page-header_forms.page-header_other-page
	.wrapper.wrapper-header.form-wrapper.wrapper-header_other-page
		.text-header-wrapper.text-header-wrapper_login.text-header-wrapper_forms
			h1.color-blue.h2-title.h2-title_login.h1-title_register !{buttonText.login[lang]}
			form#enter-form.main-form.main-form_login
				.form-item.form-item_login
					label.input-wrapper
						span.label-form.label-form_sign !{formsText.labelMail[lang]}
						input.form-input.form-input_sign#submit-email(type="email" required name="email" placeholder= formsText.placeholderEmail[lang])
				.form-item.form-item_login.form-item_login-last
					label.input-wrapper.input-wrapper-password
						span.label-form.label-form_sign !{formsText.labelPassword[lang]}
						input.form-input.form-input_sign.form-input-pass#submit-pass-show(type="password" name="password" minlength="2" maxlength="50" placeholder= formsText.placeholderPassword[lang])
						.show-icon
				.help-text.help-text-form.help-text-form_login !{formsText.text_required[lang]}
				.form-btn-submit.form-btn-submit_login
					button.btn-submit.btn-start-trade.js--login-form.btn.btn-login-form.btn-main-form !{buttonText.login[lang]}
			.form-links.form-links_login
				a(href="registration.html").btn-show-more.color-blue.form-links_item !{buttonText.signup[lang]}
				a(href="recovery.html").btn-show-more.color-blue.form-links_item !{formsText.forgotText[lang]}
