.popup.popup-twoauthstep.mfp-hide#twoauthstep-popup
	h3.color-blue.h2-title.h3-title_callback.h3-title_twoauthstep !{formsText.titleTwoauth[lang]}
	form#twoauthstep-form.callback-form.main-form_twoauthstep(method="post")
		.form-item.form-item_twoauth
			label.input-wrapper
				span.label-form !{formsText.lableTwoauth[lang]}
				input.form-input#auth-code(type="text" required name="code" placeholder=formsText.placeholderTwoauth[lang])
		.help-text.help-text_twoauthstep.help-text-form_login !{formsText.text_required[lang]}
		.btn-twoauth-wrapper
			button.js--send-authcode.btn.btn-twoauth.btn-submit(type="submit") !{buttonText.btnSend[lang]}

