mixin account(i)
	.account-list__item(class=["account-list__item" + i])
		p.color-blue.accounts-list__text !{indexAccountsText["account" + i].text[lang]}
		.accounts-list__conditions
			if i == 1
				.accounts-list-row
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_1[lang]} $1&nbsp000
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_2[lang]} 1:20
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_3[lang]}
					.accounts-conditions-item.color-blue.hide !{indexAccountsText.account_condition_4[lang]}
					.accounts-conditions-item.color-blue.hide !{indexAccountsText.account_condition_10[lang]}
				.accounts-list-row
					.accounts-conditions-item.color-blue.hide !{indexAccountsText.account_condition_6[lang]}
					.accounts-conditions-item.color-blue.hide !{indexAccountsText.account_condition_7[lang]}
					.accounts-conditions-item.color-blue.hide !{indexAccountsText.account_condition_8[lang]}
					.accounts-conditions-item.color-blue.hide !{indexAccountsText.account_condition_9[lang]}
			else if i == 2
				.accounts-list-row
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_1[lang]} $25&nbsp000
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_2[lang]} 1:50
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_3[lang]}
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_4[lang]}
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_10[lang]}
				.accounts-list-row
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_6[lang]}
					.accounts-conditions-item.color-blue.hide !{indexAccountsText.account_condition_7[lang]}
					.accounts-conditions-item.color-blue.hide !{indexAccountsText.account_condition_8[lang]}
					.accounts-conditions-item.color-blue.hide !{indexAccountsText.account_condition_9[lang]}
			else if i == 3
				.accounts-list-row
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_1[lang]} $50&nbsp000
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_2[lang]} 1:100
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_3[lang]}
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_4[lang]}
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_10[lang]}
				.accounts-list-row
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_6[lang]}
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_7[lang]}
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_8[lang]}
					.accounts-conditions-item.color-blue.check !{indexAccountsText.account_condition_9[lang]}
