section.section.section-advantages
	.wrapper.wrapper-advantages
		h2.h2-title.h2-title-advantages !{indexAdvantagesText.h2[lang]}
		.advantages-list
			.advantages-list__item.advantages-list__item_1(data-aos="fade-up" data-aos-delay="300")
				.advantages-list__icon.advantages-list__icon-1
				h3.advantages-list__title.h3-title !{indexAdvantagesText.advantage1.title[lang]}
				p.all-text.advantages-list__text !{indexAdvantagesText.advantage1.text[lang]}
			.advantages-list__item.advantages-list__item_4(data-aos="fade-up" data-aos-delay="400")
				.advantages-list__icon.advantages-list__icon-2
				h3.advantages-list__title.h3-title !{indexAdvantagesText.advantage4.title[lang]}
				p.all-text.advantages-list__text !{indexAdvantagesText.advantage4.text[lang]}
			.advantages-list__item.advantages-list__item_2(data-aos="fade-up" data-aos-delay="500")
				.advantages-list__icon.advantages-list__icon-3
				h3.advantages-list__title.h3-title !{indexAdvantagesText.advantage2.title[lang]}
				p.all-text.advantages-list__text !{indexAdvantagesText.advantage2.text[lang]}
			.advantages-list__item.advantages-list__item_5(data-aos="fade-up" data-aos-delay="600")
				.advantages-list__icon.advantages-list__icon-4
				h3.advantages-list__title.h3-title !{indexAdvantagesText.advantage5.title[lang]}
				p.all-text.advantages-list__text !{indexAdvantagesText.advantage5.text[lang]}
			.advantages-list__item.advantages-list__item_3(data-aos="fade-up" data-aos-delay="700")
				.advantages-list__icon.advantages-list__icon-5
				h3.advantages-list__title.h3-title !{indexAdvantagesText.advantage3.title[lang]}
				p.all-text.advantages-list__text !{indexAdvantagesText.advantage3.text[lang]}
			.advantages-list__item.advantages-list__item_6(data-aos="fade-up" data-aos-delay="800")
				.advantages-list__icon.advantages-list__icon-6
				h3.advantages-list__title.h3-title !{indexAdvantagesText.advantage6.title[lang]}
				p.all-text.advantages-list__text !{indexAdvantagesText.advantage6.text[lang]}
