section.section.section-steps
	.main-blue-circle
		.wrapper.wrapper_steps-decor
			img.circle-steps(src=baseDir + "assets/images/main-circle-1.svg" alt="blue-circle")
	.wrapper.wrapper-steps
		h2.h2-title.h2-title_steps !{indexStepsText.h2[lang]}
		.steps-list
			.steps-list__item.steps-list__item-1(data-aos="fade-in" data-aos-delay="300")
				.steps-list-icon.steps-list-icon_1
				h3.steps-list__title.steps-list__title-1.h3-title !{indexStepsText.step1.title[lang]}
				p.steps-list__text.all-text !{indexStepsText.step1.text[lang]}
			.steps-list__item.steps-list__item-2(data-aos="fade-in" data-aos-delay="450")
				.steps-list-icon.steps-list-icon_2
				h3.steps-list__title.steps-list__title-2.h3-title !{indexStepsText.step2.title[lang]}
				p.steps-list__text.all-text !{indexStepsText.step2.text[lang]}
			.steps-list__item.steps-list__item-3(data-aos="fade-in" data-aos-delay="600")
				.steps-list-icon.steps-list-icon_3
				h3.steps-list__title.steps-list__title-1.h3-title !{indexStepsText.step3.title[lang]}
				p.steps-list__text.all-text !{indexStepsText.step3.text[lang]}
		a(href=linkSignup).btn.btn-center.btn-steps !{buttonText.btnStartTrade[lang]}
