section.section.section-benefits
	.wrapper.wrapper-benefits(data-aos="" data-aos-delay="300")
		.wrapper-benefits-img
			.benefits-img-circle
				.benefits-icon.benefits-icon_1.active
				.benefits-icon.benefits-icon_2
				.benefits-icon.benefits-icon_3
				.benefits-icon.benefits-icon_4
		.wrapper-benefits-text
			h2.h2-title.color-blue.h2-title_benefits !{indexBenefitsText.h2[lang]}
			.benefits-list
				.benefits-list-item.benefits-list-item_1(data-benefits-icon="benefits-icon_1")
					.benefits-icon-mobile.benefits-icon-mobile_1
					h3.color-blue.benefits-list__title.h3-title !{indexBenefitsText.benefit1.title[lang]}
					p.color-blue.benefits-list__text !{indexBenefitsText.benefit1.text[lang]}
				.benefits-list-item.benefits-list-item_2(data-benefits-icon="benefits-icon_2")
					.benefits-icon-mobile.benefits-icon-mobile_2
					h3.color-blue.benefits-list__title.h3-title !{indexBenefitsText.benefit2.title[lang]}
					p.color-blue.benefits-list__text !{indexBenefitsText.benefit2.text[lang]}
				.benefits-list-item.benefits-list-item_3(data-benefits-icon="benefits-icon_3")
					.benefits-icon-mobile.benefits-icon-mobile_3
					h3.color-blue.benefits-list__title.h3-title !{indexBenefitsText.benefit3.title[lang]}
					p.color-blue.benefits-list__text !{indexBenefitsText.benefit3.text[lang]}
				.benefits-list-item.benefits-list-item_4(data-benefits-icon="benefits-icon_4")
					.benefits-icon-mobile.benefits-icon-mobile_4
					h3.color-blue.benefits-list__title.h3-title !{indexBenefitsText.benefit4.title[lang]}
					p.color-blue.benefits-list__text !{indexBenefitsText.benefit4.text[lang]}
