section.section.section-profits
	.wrapper.wrapper_profits
		.profits-decor
		.profits-list
			.profits-list__item.profits-list__item_1(data-aos="fade" data-aos-delay="300")
				h3.profits-list__title.h3-title !{indicesProfitsText.profit1.title[lang]}
				p.profits-list__text !{indicesProfitsText.profit1.text[lang]}
			.profits-list__item.profits-list__item_2(data-aos="fade" data-aos-delay="450")
				h3.profits-list__title.h3-title !{indicesProfitsText.profit2.title[lang]}
				p.profits-list__text !{indicesProfitsText.profit2.text[lang]}
			.profits-list__item.profits-list__item_3(data-aos="fade" data-aos-delay="300")
				h3.profits-list__title.h3-title !{indicesProfitsText.profit3.title[lang]}
				p.profits-list__text !{indicesProfitsText.profit3.text[lang]}
			.profits-list__item.profits-list__item_4(data-aos="fade" data-aos-delay="450")
				h3.profits-list__title.h3-title !{indicesProfitsText.profit4.title[lang]}
				p.profits-list__text !{indicesProfitsText.profit4.text[lang]}
