section.section.section-licenses
	.wrapper.wrapper_licenses
		.licenses-list
			.licenses-list__item(data-aos="fade" data-aos-delay="300")
				.licenses-icon.licenses-icon_1
				p.licenses-list__title !{licensesListText.license1.title[lang]}
				p.licenses-list__text !{licensesListText.license1.text[lang]}
			.licenses-list__item(data-aos="fade" data-aos-delay="450")
				.licenses-icon.licenses-icon_6
				p.licenses-list__title !{licensesListText.license2.title[lang]}
				p.licenses-list__text !{licensesListText.license2.text[lang]}
			.licenses-list__item(data-aos="fade" data-aos-delay="300")
				.licenses-icon.licenses-icon_2
				p.licenses-list__title !{licensesListText.license3.title[lang]}
				p.licenses-list__text !{licensesListText.license3.text[lang]}
			.licenses-list__item(data-aos="fade" data-aos-delay="450")
				.licenses-icon.licenses-icon_4
				p.licenses-list__title !{licensesListText.license4.title[lang]}
				p.licenses-list__text !{licensesListText.license4.text[lang]}
			.licenses-list__item(data-aos="fade" data-aos-delay="300")
				.licenses-icon.licenses-icon_3
				p.licenses-list__title !{licensesListText.license5.title[lang]}
				p.licenses-list__text !{licensesListText.license5.text[lang]}
			.licenses-list__item(data-aos="fade" data-aos-delay="450")
				.licenses-icon.licenses-icon_5
				p.licenses-list__title !{licensesListText.license6.title[lang]}
				p.licenses-list__text !{licensesListText.license6.text[lang]}
			.licenses-list__item(data-aos="fade" data-aos-delay="300")
				.licenses-icon.licenses-icon_7
				p.licenses-list__title !{licensesListText.license7.title[lang]}
				p.licenses-list__text !{licensesListText.license7.text[lang]}
			.licenses-list__item(data-aos="fade" data-aos-delay="450")
				.licenses-icon.licenses-icon_8
				p.licenses-list__title !{licensesListText.license8.title[lang]}
				p.licenses-list__text !{licensesListText.license8.text[lang]}
